body {
    background-image: url("https://i.pinimg.com/originals/89/e7/56/89e756699eb2f77947c636231e1085be.jpg");
}

.marcador{
    background-color: yellow;
    font-size:20px;
    padding: 5px;
    margin:5px;
    border:2px solid rgb(231, 190, 7);
}

.nave {
    width: 70px;
    height: 90px;
    position:absolute;
}

.espacio {
    display: flex;
    position:absolute;
}

.personaje {
    /* background:  pink; */
    padding:10px;
    margin: 5px;
    /* border: 10px solid red; */
    position:absolute;
}


.bala{
    writing-mode: vertical-rl;
    width: 10px;
    height: 30px;
    position:absolute;
}

.fin {
    position:absolute;
    transform: translate(-50%, -50%);
}