body {
    background-image: url("https://a-static.besthdwallpaper.com/estrella-de-la-muerte-papel-pintado-1280x768-30466_13.jpg");
}


h1 {
    text-decoration: underline;
    font-size: 50px;
    color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

h1:hover {
    background-color: yellow;
    cursor: grab
}

.marcador{
    background-color: yellow;
    font-size:20px;
    padding: 5px;
    margin:5px;
    border:2px solid rgb(231, 190, 7);
}

.nave {
    background: tomato;
    width: 45px;
    height: 20px;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border: 10px solid red;
    position:absolute;
  }

.espacio {
    display: flex;
    position:absolute;
}

.personaje {
    background:  pink;
    padding:10px;
    margin: 5px;
    border: 10px solid red;
    position:absolute;
}


.bala{
    writing-mode: vertical-rl;
    width: 10px;
    height: 30px;
    background:  #75b09c;
    border: 10px solid #a0ca92;
    position:absolute;
}